<% unless @goal.root? %>
  <%= link_to "< #{@goal.parent.title}", goal_path(@goal.parent) %>
<% end %>
<%= link_to 'Overview', goal_overview_path(@goal.root) %>

<div class="goal">
  <div class="title">
    <%= @goal.title %>
  </div>
  <div class="description">
    <%= @goal.description %>
  </div>

  <div class="notes">
    <% @goal.notes.each do |note| %>
      <div class="note">
        <%= note.body %>
        Added: <%= note.created_at %>
        <%= link_to "Edit Note", edit_goal_note_path(@goal, note) %>
        <%= link_to "Delete Note", goal_note_path(@goal, note), method: :delete %>
      </div>
    <% end %>
  </div>
  <%= link_to "Add Note", new_goal_note_path(@goal) %>
</div>

<% if @goal.children.empty? %>
  <%= link_to 'What will it take to get to this goal?', new_goal_path(parent_id: @goal.id) %>
<% else %>
  <%= link_to 'What else will it take to get to this goal?', new_goal_path(parent_id: @goal.id) %>
<% end %>

<%= link_to "Edit Goal", edit_goal_path(@goal) %>
<%= link_to "Delete Goal", goal_path(@goal), method: :delete %>

<% @goal.walk_tree do |goal, level| %>
  <%= link_to "#{'-'*level} #{goal.title}", goal_path(goal) %><br />
<% end %>
