<div class="goal">
  <div class="title">
    <%= @goal.title %>
  </div>
  <div class="description">
    <%= @goal.description %>
  </div>
  <div class="subgoals">
    <% @goal.children.each do |subgoal| %>
      <div class="subgoal">
        <%= subgoal.title %>
      </div>
    <% end %>
  </div>
  <div class="notes">
    <% @goal.notes.each do |note| %>
      <div class="note">
        <%= note.body %>
        Add: <%= note.created_at %>
        <%= form_for note, url: goal_note_path(@goal, note), method: 'delete' do |f| %>
          <%= f.submit "Delete" %>
        <% end %>
      </div>
    <% end %>
  </div>
  <%= form_for Note.new, url: goal_notes_path(@goal), method: 'post' do |f| %>
    <%= f.text_area :body, size: "60x12" %>
    <%= f.submit "Create" %>
  <% end %>
</div>
<%= link_to 'What is it take to get to this goal?', new_goal_path(parent_id: @goal.id) %>
<% if @goal.root? %>
  <%= link_to 'Nothing, now I just have do it!', goal_path(@goal) %>
<% else %>
  <%= link_to 'Nothing, now I just have do it!', goal_path(@goal.parent) %>
<% end %>
<%= form_for @goal, url: goal_path(@goal), method: 'delete' do |f| %>
  <%= f.submit "Delete" %>
<% end %>
