<div class="goal">
  <div class="title">
    <%= @goal.title %>
  </div>
  <div class="description">
    <%= @goal.description %>
  </div>
  <div class="subgoals">
    <% @goal.children.each do |subgoal| %>
      <div class="subgoal">
        <%= subgoal.title %>
      </div>
    <% end %>
  </div>
  <div class="notes">
    <% @goal.notes.each do |note| %>
      <div class="note">
        <%= note.body %>
        Added: <%= note.created_at %>
        <%= link_to "Edit Note", edit_goal_note_path(@goal, note) %>
        <%= link_to "Delete Note", goal_note_path(@goal, note), method: :delete %>
      </div>
    <% end %>
  </div>
  <%= link_to "Add Note", new_goal_note_path(@goal) %>
</div>
<%= link_to 'What is it take to get to this goal?', new_goal_path(parent_id: @goal.id) %>
<% unless @goal.root %>
  <%= link_to 'Nothing, now I just have do it!', goal_path(@goal.parent) %>
<% end %>

<%= link_to "Edit Goal", edit_goal_path(@goal) %>
<%= link_to "Delete Goal", goal_path(@goal), method: :delete %>
