<!DOCTYPE html>
<html>
  <head>
    <title>Determinedme</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="type-system-rounded">
      <%= render partial: 'layouts/navigation' %>
      <div class="wrapper">
        <div class="main">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
          <%= yield %>
        </div>
      </div>
  </div>
  </body>
</html>
